* {
    -webkit-font-smoothing: auto;
}

body {
    background-color: #181818;
    font-family: Arial, Helvetica, sans-serif;
}

.top-nav {
    background-color: #0a0a0a50;
    -webkit-backdrop-filter: saturate(200%) blur(10px);
    backdrop-filter: saturate(200%) blur(10px);
    font-family: 'Open Sans' !important;
}

.logo-in-topnav {
    margin-right: 12rem;
}

.hero-section {
    position: relative;
}

.hero-bg {
    background-image: url("C:/Users/Delia/Documents/binar_challange_chapter_3/assets/main-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.hero-bg::after {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%);
}

.hero-content {
    position: relative;
    padding-top: 15rem;
    padding-bottom: 60px;
    z-index: 1;
}

.header-hero-page {
    font-size: 4rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.desc-hero-page {
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.playnow-button {
    font-weight: bold;
    padding: 20px 20px;
    font-family: 'Open Sans' !important;
}


.about-us-section {
    position: relative;
}

.about-us-bg {
    background-image: url("C:/Users/Delia/Documents/binar_challange_chapter_3/assets/the-games-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 960px;
    min-width: 100%;
    object-fit: fill;
}

.about-us-bg::before {
    content: "";
    position: absolute;
    top: 0;
    height: 960px;
    width: 100vw;
    background: #00000080;
}

.about-us-bg::after {
    position: absolute;
    top: 0;
    height: 960px;
    width: 100vw;
    background: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%);
}

.about-us-content {
    padding-top: 13rem;
    display: flex;
}

.about-us-text {
    position: relative;
    z-index: 0;
    flex: 0 0 auto;
    width: 33.333333%;
    margin-right: 40px;
}

.about-us-title-1 {
    color: #fff;
    letter-spacing: 2px;
}

.about-us-title-2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 3px;

}

.about-us-carrousel {
    flex: 1 0 0%;
    width: 67.6666%;
    margin: auto;
}

.about-us-carrousel .carousel-control-prev {
    left: -80px;
}

.about-us-carrousel .carousel-control-next {
    right: -80px;
}

.about-us-carrousel .carousel-control-next-icon {
    background-image: url("C:/Users/Delia/Documents/binar_challange_chapter_3/assets/triangle_right.svg");
}

.about-us-carrousel .carousel-control-prev-icon {
    background-image: url("C:/Users/Delia/Documents/binar_challange_chapter_3/assets/triangle_left.svg");
}

.about-us-carrousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 25px;
    margin-left: 25px;
    background-color: transparent;
    border: 1px solid #fff;
    opacity: unset;
}

.about-us-carrousel .carousel-indicators .active {
    background-color: #fff;
    border: 1px solid #fff;
}

.features-section {
    position: relative;
}

.features-bg {
    background-image: url("C:/Users/Delia/Documents/binar_challange_chapter_3/assets/features.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 960px;
    min-width: 100%;
    object-fit: fill;
}

.features-bg::after {
    content: "";
    position: absolute;
    top: 0;
    height: 960px;
    width: 100vw;
    background: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%);
}

.features-content {
    position: relative;
    z-index: 2;
}

.features-content-text {
    float: right;
    flex: 0 0 auto;
    width: 33.333333%;
}

.features-title-1 {
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.features-title-2 {
    color: #fff;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.feature-list-title {
    color: #FFB548;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.feature-list-title:hover {
    color: #ffb64896;
}

.feature-list-title .btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: unset;
}

.feature-list-desc {
    color: #fff;
}

.requirements-section {
    position: relative;
}

.requirements-bg {
    background-image: url("C:/Users/Delia/Documents/binar_challange_chapter_3/assets/requirements.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 960px;
    min-width: 100%;
    object-fit: fill;
}

.requirements-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 960px;
    width: 100vw;
    background: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%);
}

.features-content {
    color: #fff;
    padding-top: 8rem;
}

.requirements-h1 {
    float: left;
    font-size: 4rem;
    text-transform: uppercase;
    position: absolute;
    top: 8rem;
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.requirements-h3 {
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 2px;
}

.requirements-box {
    position: relative;
    top: 14rem;
    flex: 0 0 auto;
    width: 41.666667%;

}

.requirements-box h4 {
    text-transform: uppercase;
    color: #FFB548;
    letter-spacing: 2px;
}

.requir-box-os,
.requir-box-procie,
.requir-box-memo,
.requir-box-stor,
.requir-box-graph {
    border-width: 1px;
    border-color: #979797;
    border-style: solid;
}

.requir-box-os {
    border-top-left-radius: 10px;
}

.requir-box-procie {
    border-top-right-radius: 10px;
}

.requir-box-graph {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.quotes-section {
    position: relative;
}

.quotes-bg {
    background-image: url("C:/Users/Delia/Documents/binar_challange_chapter_3/assets/quotes-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 960px;
    min-width: 100%;
    object-fit: fill;
}

.quotes-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 960px;
    width: 100vw;
    background: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%);
}

.quotes-content {
    position: relative;
    z-index: 2;
}

.quotes-text-box {
    padding-top: 10rem;
    flex: 0 0 auto;
    width: 50%;
}

.quotes-h2 {
    color: #fff;
    font-size: 4rem;
    text-transform: uppercase;
}

.quotes-desc {
    color: #fff;
    padding-bottom: 20px;
    flex: 0 0 auto;
    width: 66.666667%;
}

.quotes-button {
    padding: 20px 100px;
    font-weight: bold;
}

.quotes-people-box {
    flex: 1 0 0%;
}

.quotes-people-box-list {
    background-color: #222222;
    padding: 15px;
    border-radius: 10px;
    color: #868686;
    margin: 15px auto;
    flex: 0 0 auto;
    width: 58.333333%;
}

.first-text {
    padding-bottom: 15px;
}

.image-profile-box {
    position: relative;
}

.img-src {
    position: relative;
    z-index: 1;
}

.image-profile::after {
    content: "";
    width: 68px;
    height: 68px;
    background-color: #FFB548;
    border-radius: 100%;
    position: absolute;
    top: 2;
    left: 4;
}

.bio-desc {
    padding-top: 10px;
}

.bio-name {
    color: #FFB548;
}

.bio-pro {
    color: #868686;
}

.second-text {
    color: #fff;
    padding-bottom: 15px;
}

.news-letter-section {
    position: relative;
}

.news-letter-bg {
    background-color: #080A0B;
}

.feat-img {
    flex: 0 0 auto;
    width: 50%;
}

.newslet-text-box {
    color: #fff;
    flex: 0 0 auto;
    width: 50%;
}

.newslet-h2 {
    font-size: 1rem;
    font-weight: lighter;
    flex: 0 0 auto;
    width: 33.33333%;
}

.newslet-h3 {
    font-size: 4rem;
    text-transform: uppercase;
}

.form-email-box {
    background-color: #2b2b2b;
    padding: 0px;
    border-radius: .25rem;
    padding-bottom: 5px;
}

.form-email-box .form-control {
    background-color: transparent;
    border: transparent;
    color: #FFB548;
}

.email-label {
    font-size: .6rem;
    padding: .575rem .75rem;
    color: #cecece;
}

.newslett-par {
    font-weight: lighter;
    margin-bottom: 40px;
}

.newsletbut {
    font-weight: bolder;
    font-family: 'Open Sans';
}



.footer-content {
    padding-top: 20px;
    color: #fff;
    padding-bottom: 20px;
}

.copyright {
    color: #6f6f6f;
    font-size: .6rem;
}

.rulnet-lst {
    list-style: none;
    float: left;
    font-size: .7rem;
    padding-left: 10px;
}

.rulnet-lst:not(:last-child)::after {
    content: "";
    border-left: 1px solid #fff;
}

.rulnet-link {
    text-transform: uppercase;
    padding-right: 10px;
    color: #fff;
    text-decoration: none;
    font-size: .5rem;
    font-weight: bold;
    letter-spacing: .1em;
}

.rulnet-link:hover {
    color: #cecece;
    opacity: .5;
}

